$primary-color: white;
$secondary-color: black;
$body-font-color: white;
$anchor-font-color: white;
$body-bg: #c7c7c7;
$switch-active-color: $secondary-color;

@import "settings";

@import "foundation";

@import "bower_components/sass-mediaqueries/_media-queries";

$control-height: 74px;

.setting-right {
  margin-left: auto;
  z-index: 1;
  margin-top: 4px;
}

.setting-control {
  height: $control-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $label-font-sizing;

  &::after {
    content: '';
    display: block;
    width: 104px;
    height: 100%;
    position: absolute;
    right: 0;
    background: white;
    overflow: hidden;
    top: 0;
    border-left: 1px solid white;
  }
}

.house-item a {
  width: 100%;
}

.main-content {
  width: 80%;
  margin: 20px auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#page-title, .house-item {
  text-transform: uppercase;
}

.setting-arrow {
  cursor: pointer;
  vertical-align: middle;

  &.disabled {
    cursor: progress;
    color: gray;
  }
}

.cold {
  height: 100vh;
  width: 100%;
  background: url('/images/cold.png')
}

.hot {
  height: 100vh;
  width: 100%;
  background: url('/images/hot.png')
}

.temperature-feedback {
  background-size: cover;
  position: fixed;
  transition: opacity 1s ease-in-out;
}

.setting-incrementable-right {
  text-align: center;
  margin-top: 2px;
}

.setting-incrementable-shortcut {
  cursor: pointer;
}

.lights-display {
  text-align: center;
  font-size: 96px;
  color: white;
  z-index: 1;
  position: relative;
  transition: all 1s cubic-bezier(.87,-.41,.19,1.44);

  &.off {
    color: transparent;
  }
}

@include mq($min-width: 412px) {
  .setting-control {
    font-size: 100%;
  }
}
