<div class="row">
  <div class="large-12 columns text-center">
    <h1>Remote House Controller</h1>
  </div>
</div>
<div class="row">
  <div class="small-12 columns panel">
    <div class="text-switch-wrapper">
      <span>CONTROL LIGHTS</span>
      <div class="switch right right-switch">
        {{input type='radio' checked=showLights id='lightsSwitch' type='checkbox'}}
        <label for="lightsSwitch"></label>
      </div>
    </div>
  </div>
  <div class="small-12 columns panel temperature-control">
    <div class="text-switch-wrapper">
      <span>CONTROL TEMPERATURE</span>
      <div class="switch right right-switch">
        {{input type='radio' checked=showLights id='lightsSwitch' type='checkbox'}}
        <label for="lightsSwitch"></label>
      </div>
    </div>
  </div>
  <div class="small-12 columns panel">
    <div class="text-switch-wrapper">
      <span>CONTROL CURTAINS</span>
      <div class="switch right right-switch">
        {{input type='radio' checked=showCurtains id='curtainsSwitch' type='checkbox'}}
        <label for="curtainsSwitch"></label>
      </div>
    </div>
  </div>
</div>