<nav class="tab-bar">
  <section class="left-small text-center" id="tab-bar-left"></section>

  <section class="middle tab-bar-section">
    <h1 class="title" id="page-title"></h1>
  </section>
</nav>

<main class="main-content">
  {{outlet}}
</main>