<div class="live-feedback">
  {{temperature-feedback min=settings.temperatureMin max=settings.temperatureMax class='cold' invertOpacity=true}}
  {{temperature-feedback min=settings.temperatureMin max=settings.temperatureMax class='hot'}}

  <main class="main-content">
    {{liquid-outlet}}
  </main>
</div>
