<div class="live-feedback">
  {{temperature-feedback
      min=settings.temperatureMin
      max=settings.temperatureMax
      class='cold'
      invertOpacity=true
      maxOpacity=0.8
  }}

  {{temperature-feedback
    min=settings.temperatureMin
    max=settings.temperatureMax
    class='hot'
    maxOpacity=0.8
  }}

  <main class="main-content">
    {{liquid-outlet}}
  </main>

  <footer class="row">made with love by <a href="http://danielkmak.com" target="_blank" class="bold">Daniel Kmak</a></footer>
</div>
