<header class="row page-title">choose house</header>

{{#each model as |house|}}
  <div class="row text-center house-item">{{#link-to 'house' house class='button'}}{{house.name}}{{/link-to}}</div>
{{/each}}
